* {
	box-sizing:border-box;
}

body {
	font:14px 'Segoe UI','宋体';
	color:#333;
}

a {
	text-decoration:none;
	color:#0088cc;
	transition:color .3s;
}
a:hover {
	color:#006090;
}
a.close {
	color:#333;
	font-size:18px;
	text-align:center;
}
a.close:hover {
	text-shadow:0 0 2px #333;
}
a.close.sm {
	font-size:14px;
}
a.icon {
	padding:5px;
	width:26px;
	height:26px;
	display:inline-block;
	background-position:center center;
	background-repeat:no-repeat;
}
a.icon:hover {
	border:solid 1px #999;
	border-radius:3px;
}
a.icon-config {
	background-image:url(../images/icon-config.png);
}

h4 {
	font-family:'Microsoft Yahei';
	font-weight:normal;
}

ul {
	padding:0;
	margin:0;
}
li {
	list-style:none;
}

input[type='checkbox']:focus {
	outline:none;
}
input[type='text']:focus,
input[type='url']:focus,
input[type='number']:focus {
	outline:solid 2px #08c;
}
input[type='text'].error,
input[type='url'].error,
input[type='number'].error {
	outline:solid 2px red;
	background-color:rgba(255,0,0,.7);
}
input[type='text'],
input[type='url'],
input[type='number'],
button {
	padding:5px;
	border:none;
	border-radius:5px;
}
button {
	padding:5px 10px;
	cursor:pointer;
	border:solid 1px #999;
	transition:background-color .3s;
}
button.primary {
	background-color:#08c;
	color:white;
}
button.primary:hover {
	background-color:#006090;
}
button.danger {
	background-color:red;
	color:white;
}
button.danger:hover {
	background-color:#c40027;
}
button[disabled] {
	cursor:not-allowed;
	color:#999;
}

label {
	margin-right:20px;
}
label input {
	margin-left:3px;
}
label span.help {
	margin-left:10px;
	font-size:12px;
	color:#666;
}



.left {float:left;}
.right {float:right;}
.text-center {text-align:center;}
.text-right {text-align:right;}

.text-overflow {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{*+height:1%;}

.row {
	display:block;
	padding:5px 0;
}

.moveable {
	cursor:move;
}
.out {
	opacity:0;
	transition:opacity .3s;
}

.dialog {
	position:absolute;
	z-index:10;
	left:100px;
	top:100px;
	min-width:200px;
	border-radius:5px;
	background-color:rgba(239,242,196,.7);
	box-shadow:0 3px 10px #666;
}
.dialog.moving {
	z-index:20;
}
.dialog-header,
.dialog-footer {
	display:table;
	width:100%;
}
.dialog-header {
	height:36px;
	background-color:rgba(241,243,201,.8);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.dialog-footer {
	height:48px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top:solid 1px #999;
}
.dialog-header h4,
.dialog-footer h4,
.dialog-header .close {
	display:table-cell;
	vertical-align:middle;
	padding:0;
	margin:0;
}
.dialog-header h4,
.dialog-footer h4 {
	padding-left:10px;
}
.dialog-header .close {
	width:36px;
	text-align:center;
}
.dialog-body {
	padding:10px;
	border-top:solid 1px #ddd;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.dialog-footer button {
	display:table-cell;
	margin:10px 10px 10px 0;
	float:right;
}

.icon-import {
	background-image:url(../images/icon-import.png);
}
.icon-export {
	background-image:url(../images/icon-export.png);
}
.icon-google {
	background-image:url(../images/icon-google.png);
}
.icon-bookmark {
	background-image:url(../images/icon-bookmark.png);
}
.icon-todo {
	background-image:url(../images/icon-todo.png);
}
.icon-pomorodo {
	background-image:url(../images/icon-pomorodo.png);
}
.icon-netease {
	background-image:url(../images/icon-netease.png);
}
a.fileSelector {
	overflow:hidden;
	position:relative;
}
a.fileSelector input[type='file'] {
	position:absolute;
	left:-360px;
	top:0;
	font-size:20px;
	opacity:0;
	cursor:pointer;
}


#bg-container > div {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
#bg-top {
	z-index:2;
	opacity:0;
	transition:opacity 2s;
}
#bg-bottom {
	z-index:1;
}

#bookmark-dialog {
	width:400px;
	left:100px;
	top:100px;
}
#bookmark-category-list {
	width:80px;
	border-right:solid 1px #666;
}
#bookmark-category-list li a {
	display:block;
	padding:10px 0;
	text-align:center;
}
#bookmark-category-list li.selected a {
	color:#333;
	cursor:text;
}

#bookmark-list {
	margin-left:110px;
}
#bookmark-list li a {
	display:inline-block;
	padding:5px 0;
}
#bookmark-list li a.close {
	margin-left:10px;
	display:none;
}
#bookmark-list li:hover a.close {
	display:inline-block;
}

#add-bookmark-container {
	margin-top:40px;
}

#todo-dialog {
	width:300px;
	left:600px;
	top:100px;
}
#todo-input {
	width:100%;
	height:36px;
	padding:10px;
	font:italic 14px 'Microsoft Yahei';
}
#todo-list li {
	width:100%;
	height:36px;
	display:table;
}
#todo-list li > * {
	display:table-cell;
	vertical-align:middle;
}
#todo-list li input[type='checkbox'] {
	height:100%;
	-webkit-appearance:none;
	opacity:0.2;
	text-shadow:-1px -1px rgba(0,0,0,.2);
	color:#333;
	font-size:16px;
}
#todo-list li input[type='checkbox']:checked {
	opacity:1;
	text-shadow:none;
	color:#08c;
}
#todo-list li input[type='checkbox']::after {
	content:'✔';
}
#todo-list li span {
	margin-left:10px;
	width:215px;
}
#todo-list li a.close {
	width:36px;
	visibility:hidden;
}
#todo-list li:hover a.close {
	visibility:visible;
}
#todo-list li.done span {
	color:#666;
	text-decoration:line-through;
}


#pomorodo-dialog {
	width:490px;
}
#pomorodo-clock {
	width:145px;
	height:105px;
	float:left;
	box-shadow:0 0 5px #ccc;
	background-color:rgba(255,255,255,.5);
	font:bold 36px/110px Arial;
	text-align:center;
	color:rgba(255,255,255,.6);
	text-shadow:-1px -1px rgba(0,0,0,.7);
}
#pomorodo-clock span {

}
#setup-pomorodo {
	float:left;
	width:300px;
	margin-left:20px;
}
#setup-pomorodo input[name='goal'] {
	width:250px;
}
#pomorodo-config-btn {
	margin-left:-5px;
}
#pomorodo-config-container {
	margin-top:10px;
}
#pomorodo-config-validation {
	font-size:12px;
	height:28px;
	line-height:28px;
	color:red;
}
#pomorodo-status {
	font-size:12px;
}


#neteaseNews-dialog {
	width:460px;
	left:100px;
	top:100px;
}
#neteaseNews-dialog .news-rss-list {
	width:80px;
	border-right:solid 1px #666;
}
#neteaseNews-dialog .news-rss-list li a {
	display:block;
	padding:10px 0;
	text-align:center;
}
#neteaseNews-dialog .news-rss-list li.selected a {
	color:#333;
	cursor:text;
}
#neteaseNews-dialog .news-list {
	margin-left:110px;
	max-height:350px;
	overflow-y:auto;
}
#neteaseNews-dialog .news-list li a {
	display:inline-block;
	padding:5px 0;
}
#neteaseNews-dialog .news-list li a:visited {
	color:gray;
}
#neteaseNews-dialog .update-time {
	margin-top:10px;
	font:12px 'verdana';
}
#add-news-rss-container {
	margin-top:30px;
}
#add-news-rss-container form {
	display:inline;
}
#neteaseNews-dialog .news-list::-webkit-scrollbar-track-piece{background-color:#fff;}
#neteaseNews-dialog .news-list::-webkit-scrollbar{width:5px;}
#neteaseNews-dialog .news-list::-webkit-scrollbar-thumb{background:#08c;}


#googleSearch-dialog {
	width:400px;
}
#googleSearch-dialog input[name='q'] {
	width:100%;
	font:24px 'Microsoft Yahei';
	padding:10px;
}




#icon-button-container {
	position:absolute;
	z-index:100;
	left:50%;
	bottom:10px;
}
#icon-buttons {
	position:relative;
	left:-50%;
}
#icon-buttons li {
	float:left;
	margin:0 10px;
}
#icon-buttons li a {
	display:block;
	width:48px;
	height:48px;
	background-repeat:no-repeat;
	background-position:center center;
	opacity:.4;
	transition:opacity .3s;
}
#icon-buttons li a:hover {
	opacity:1;
}
