<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Casey's Chrome New Tab Page</title>
	<link rel='stylesheet' href='css/app.css'>
</head>
<body ng-controller='WorkspaceController'>

	<div id='bg-container' ng-controller='BackgroundImageController'>
		<div id='bg-bottom'></div>
		<div id='bg-top'></div>
	</div>

	<div id='bookmark-dialog' class='dialog out' ng-controller='BookmarkController' setting='bookmark' ng-show='getSetting("bookmark", "visible")'>
		<div class='dialog-header' draggable='#bookmark-dialog'>
			<h4>书签</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("bookmark", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body'>
			<div class='clearfix'>
				<div ng-show='isEmptyBookmark'>目前没有书签，使用下面的表单添加。</div>
				<ul id='bookmark-category-list' class='left'>
					<li ng-repeat='(category, _) in bookmark' ng-class='{selected: category == selectedCategory}'>
						<a href='javascript:;' ng-bind='category' ng-click='selectCategory(category)'></a>
					</li>
				</ul>
				<ul id='bookmark-list'>
					<li ng-repeat='bk in bookmark[selectedCategory] track by $index'>
						<a href='javascript:;' ng-bind='bk.title' ng-click='openLinks(bk.links)'></a>
						<a class='close sm' href='javascript:;' title='删除' ng-click='removeBookmark($index)'>&times;</a>
					</li>
				</ul>
			</div>
			<div id='add-bookmark-container'>
				<form name='addBookmarkForm' ng-controller='AddBookmarkController' ng-submit='addBookmark()'>
					<input type='text' name='category' ng-model='category' size='4' placeholder='分类' required>
					<input type='text' name='title' ng-model='title' size='8' placeholder='显示名称' required>
					<input type='text' name='links' ng-model='links' size='21' placeholder='链接，多个链接用空格分隔' required>
					<button class='primary' title='添加书签'>+</button>
				</form>
			</div>
		</div>
	</div>

	<div id='todo-dialog' class='dialog out' ng-controller='TodoController' setting='todo' ng-show='getSetting("todo", "visible")'>
		<div class='dialog-header' draggable='#todo-dialog'>
			<h4>待办事项</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("todo", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body'>
			<input id='todo-input' type='text' placeholder='有什么事情是要做的？' ng-model='newTodo' ng-keypress='addTodo($event)'>
			<ul id='todo-list'>
				<li ng-repeat='todo in todos track by $index' ng-class='{done:todo.done}'>
					<input type='checkbox' ng-checked='todo.done' ng-click='toggleDone(todo)'>
					<span class='todo' ng-bind='todo.content'></span>
					<a class='close' href='javascript:;' title='删除' ng-click='removeTodo($index)'>&times;</a>
				</li>
			</ul>
		</div>
		<div class='dialog-footer'>
			<h4 ng-show='todoLeft' ng-bind='"剩余 " + todoLeft + " 个待办事项"'></h4>
			<button ng-disabled='! todoLeft' ng-click='removeDone()'>删除已完成事项</button>
		</div>
	</div>

	<div id='pomorodo-dialog' class='dialog out' ng-controller='PomorodoController' setting='pomorodo' ng-show='getSetting("pomorodo", "visible")'>
		<div class='dialog-header' draggable='#pomorodo-dialog'>
			<h4>番茄工作一下！</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("pomorodo", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body'>
			<div class='clearfix'>
				<div id='pomorodo-clock'>
					<span class='minute' ng-bind='minuteShow || "00"'></span>
					:
					<span class='second' ng-bind='secondShow || "00"'></span>
				</div>
				<div id='setup-pomorodo'>
					<form name='pomorodoForm'>
						<div class='row'>
							<label>
								目　标
								<input type='text' name='goal' ng-model='pomorodo.goal' ng-readonly='pomorodo.beginTime' title='明确你的目标，确定可以在番茄时间内完成。' required>
							</label>
						</div>
						<div class='row'>
							<label>
								番茄数
								<input type='number' name='count' ng-model='pomorodo.count' ng-readonly='pomorodo.beginTime' min='1' max='4' required>
								<span class='help' ng-bind='workloadStat()'></span>
							</label>
						</div>
						<div class='clearfix'>
							<a id='pomorodo-config-btn' href='javascript:;' class='left icon icon-config' title='参数设置' ng-click='toggleConfig()' ng-show='! pomorodo.beginTime'></a>
							<button ng-show='! pomorodo.beginTime' class='primary right' ng-click='create()' type='submit'>开始</button>
							<button ng-show='pomorodo.beginTime' class='danger right' ng-click='clear()' title='番茄时间不能中断。如果停止，那么番茄时间将作废，必须重新开始。'>停止</button>
						</div>
					</form>
				</div>
			</div>
			<div id='pomorodo-status' ng-bind='status'></div>
			<div id='pomorodo-config-container' ng-show='showConfig && ! pomorodo.beginTime'>
				<hr>
				<form name='pomorodoConfigForm'>
					<div class='row'>
						<label>
							单次番茄时间
							<input type='number' name='eachPomorodoTime' ng-model='config.eachPomorodoTime' ng-change='saveConfig()' min='15' max='60' required ng-class='{error:pomorodoConfigForm.eachPomorodoTime.$invalid}'>
							分钟
							<span class='help'>完成一个任务的时间，在15到60之间。</span>
						</label>
					</div>
					<div class='row'>
						<label>
							短休息时长　
							<input type='number' name='shortRelaxTime' ng-model='config.shortRelaxTime' ng-change='saveConfig()' min='5' max='15' required ng-class='{error:pomorodoConfigForm.shortRelaxTime.$invalid}'>
							分钟
							<span class='help'>完成一个番茄后的休息时间，在5到15之间。</span>
						</label>
					</div>
					<div class='row'>
						<label>
							长休息时长　
							<input type='number' name='longRelaxTime' ng-model='config.longRelaxTime' ng-change='saveConfig()' min='15' max='40' required ng-class='{error:pomorodoConfigForm.longRelaxTime.$invalid}'>
							分钟
							<span class='help'>完成四个番茄后的休息时间，在15到40之间。</span>
						</label>
					</div>
					<div class='row'>
						<label>
							<input type='checkbox' name='enable-sound-notification' ng-model='config.enableSoundNotification' ng-change='saveConfig()'>
							启用声音提醒
						</label>
						<label>
							<input type='checkbox' name='enable-popup-notification' ng-model='config.enablePopupNotification' ng-change='checkNotificationPermission()'>
							启用桌面通知提醒
						</label>
					</div>
					<div class='row clearfix'>
						<span id='pomorodo-config-validation' class='left' ng-show='pomorodoConfigForm.$invalid'>请输入合法值。</span>
						<button class='primary right' ng-click='toggleConfig()'>关闭</button>
						<button class='right' ng-click='resetConfig()'>恢复到标准设置</button>
					</div>
					<audio id='audio-pomorodo-switch' src='audios/pomorodo-switch.mp3' preload='auto'></audio>
					<audio id='audio-pomorodo-done' src='audios/pomorodo-done.mp3' preload='auto'></audio>
				</form>
			</div>
		</div>
	</div>

	<div id='news-dialog' class='dialog out' ng-controller='NewsController' setting='news' ng-show='getSetting("news", "visible")'>
		<div class='dialog-header' draggable='#news-dialog'>
			<h4>新闻RSS</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("news", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body'>
			<div class='clearfix'>
				<div ng-show='! news.length' ng-bind='"目前还没有RSS，请在下面的表单处添加。"'></div>
				<ul class='news-rss-list left'>
					<li ng-repeat='news in news' ng-class='{selected: selectedIndex == $index}'>
						<a href='javascript:;' ng-bind='news.category' ng-click='selectIndex($index)'></a>
					</li>
				</ul>
				<ul class='news-list'>
					<li ng-repeat='item in news[selectedIndex].items'>
						<a class='text-overflow' href='{{item.link}}' title='{{item.title}}' ng-bind='item.title' target='_blank'></a>
					</li>
				</ul>
				<div class='news-status text-right'>
					<button class='danger' title='删除当前选择的RSS' ng-click='removeSelectedRSS()'>删除当前RSS</button>
					<button title='刷新新闻' ng-click='updateAll()'>刷新</button>
					<div class='update-time' ng-bind='"更新于 " + (lastUpdateTime | date:"H:mm")'></div>
				</div>

			</div>
			<div id='add-news-rss-container'>
				<form name='AddNewsRSSContainer'>
					<input type='text' name='category' ng-model='newCategory' size='6' placeholder='RSS名称' required>
					<input type='text' name='address' ng-model='newRSSAddress' size='45' placeholder='RSS地址' required>
					<button class='primary' title='添加RSS' ng-click='addRSS()'>+</button>
				</form>
			</div>
		</div>
	</div>

	<div id='googleSearch-dialog' class='dialog out' ng-controller='SearchController' setting='googleSearch' ng-show='getSetting("googleSearch", "visible")'>
		<div class='dialog-header' draggable='#googleSearch-dialog'>
			<h4>Google 搜索</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("googleSearch", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body'>
			<form name='searchForm' ng-submit='search()'>
				<input type='text' name='q' ng-model='query' placeholder='搜索什么？' autocomplete autofocus>
			</form>
		</div>
	</div>

	<div id='stock-dialog' class='dialog out' ng-controller='StockController' setting='stock' ng-show='getSetting("stock", "visible")'>
		<div class='dialog-header' draggable='#stock-dialog'>
			<h4>
				证券行情
				<small title='{{"成交量：" + ((indices[0].amount / 10000) | number:"0") + "亿"}}'>
					沪：<span class={{StockService.selectColor(indices[0].risingAmount)}} ng-bind='indices[0].price + ", " + indices[0].risingPercent'></span>
				</small>
				<small title='{{"成交量：" + ((indices[1].amount / 10000) | number:"0") + "亿"}}'>
					深：<span class={{StockService.selectColor(indices[1].risingAmount)}} ng-bind='indices[1].price + ", " + indices[1].risingPercent'></span>
				</small>
				<small title='{{"成交量：" + ((indices[2].amount / 10000) | number:"0") + "亿"}}'>
					创业：<span class={{StockService.selectColor(indices[2].risingAmount)}} ng-bind='indices[2].price + ", " + indices[2].risingPercent'></span>
				</small>
			</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='addSetting("stock", "visible", false);'>&times;</a>
		</div>
		<div class='dialog-body clearfix'>
			<ul class='stock-list left'>
				<li>
					<a href='javascript:;' title='上一页' ng-click='prevPage()' ng-show='pageIndex > 0'>▲</a>
					<span title='没有上一页了' ng-show='pageIndex == 0'>▲</span>
				</li>
				<li class='stock' ng-class='{selected: selectedStockIndex - pageIndex * VISIBLE_SNAPSHOT_COUNT == $index}' ng-repeat='s in visibleSnapshot' ng-bind='s.name + "（" + s.code + "）"' ng-click='selectStock($index)'></li>
				<li>
					<a href='javascript:;' title='下一页' ng-click='nextPage()' ng-show='pageIndex < maxPageIndex'>▼</a>
					<span title='没有下一页了' ng-show='pageIndex == maxPageIndex'>▼</span>
				</li>
			</ul>
			<div class='stock-data-container left'>
				<table class='stock-data'>
					<tr>
						<th>涨跌率</th>
						<th>价格</th>
						<th>今开</th>
						<th>昨收</th>
						<th>最高</th>
						<th>最低</th>
						<th>成交量</th>
						<th>成交额</th>
					</tr>
					<tr ng-repeat='s in visibleSnapshot'>
						<td ng-bind='(((s.price - s.prevClose) / s.prevClose * 100) | number:2) + "%"' class='{{StockService.selectColor(s.price - s.prevClose)}}'></td>
						<td ng-bind='s.price' class='{{StockService.selectColor(s.price - s.prevClose)}}'></td>
						<td ng-bind='s.open' class='{{StockService.selectColor(s.open - s.prevClose)}}'></td>
						<td ng-bind='s.prevClose'></td>
						<td ng-bind='s.highest' class='{{StockService.selectColor(s.highest - s.prevClose)}}'></td>
						<td ng-bind='s.lowest' class='{{StockService.selectColor(s.lowest - s.prevClose)}}'></td>
						<td ng-bind='((s.volume / 100) | number:0) + " 手"'></td>
						<td ng-bind='((s.amount / 10000) | number:0) + " 万"'></td>
					</tr>
				</table>
			</div>
			<div class='update-time right' ng-bind='updateTime | date:"H:mm:ss"'></div>
			<div class='operation-container left'>
				<form name='addStockForm' ng-submit='addCode()'>
					<input type='text' size='4' name='code' ng-model='code' placeholder='代码' required>
					<button class='primary' title='添加关注股票'>+</button>
				</form>
				<button ng-click='StockService.display = "level5"' title='查看{{snapshot[selectedStockIndex].name}}竞价' ng-disabled='! codes[selectedStockIndex]'>竞价</button>
				<button ng-click='StockService.display = "minuteChart"' title='查看{{snapshot[selectedStockIndex].name}}分时图' ng-disabled='! codes[selectedStockIndex]'>分时</button>
				<button ng-click='StockService.display = "dailyChart"' title='查看{{snapshot[selectedStockIndex].name}}日K线' ng-disabled='! codes[selectedStockIndex]'>日K</button>
				<button ng-click='StockService.display = "weeklyChart"' title='查看{{snapshot[selectedStockIndex].name}}周K线' ng-disabled='! codes[selectedStockIndex]'>周K</button>
				<button ng-click='StockService.display = "monthlyChart"' title='查看{{snapshot[selectedStockIndex].name}}月K线' ng-disabled='! codes[selectedStockIndex]'>月K</button>
				<button class='danger' ng-click='removeSelectedStock()' title='删除{{snapshot[selectedStockIndex].name}}' ng-disabled='! codes[selectedStockIndex]'>删除</button>
			</div>
		</div>
	</div>

	<div id='stock-additional-dialog' class='dialog out' ng-controller='StockAdditionalController' setting='stockAdditional' ng-show='StockService.display'>
		<div class='dialog-header' draggable='#stock-additional-dialog'>
			<h4>
				{{StockService.selectedSnapshot.name}}
				<small>
					<a href='javascript:;' ng-click='StockService.display = "level5"' ng-show='StockService.display != "level5"'>竞价</a>
					<span ng-show='StockService.display == "level5"'>竞价</span>
				</small>
				<small>
					<a href='javascript:;' ng-click='StockService.display = "minuteChart"' ng-show='StockService.display != "minuteChart"'>分时</a>
					<span ng-show='StockService.display == "minuteChart"'>分时</span>
				</small>
				<small>
					<a href='javascript:;' ng-click='StockService.display = "dailyChart"' ng-show='StockService.display != "dailyChart"'>日K</a>
					<span ng-show='StockService.display == "dailyChart"'>日K</span>
				</small>
				<small>
					<a href='javascript:;' ng-click='StockService.display = "weeklyChart"' ng-show='StockService.display != "weeklyChart"'>周K</a>
					<span ng-show='StockService.display == "weeklyChart"'>周K</span>
				</small>
				<small>
					<a href='javascript:;' ng-click='StockService.display = "monthlyChart"' ng-show='StockService.display != "monthlyChart"'>月K</a>
					<span ng-show='StockService.display == "monthlyChart"'>月K</span>
				</small>
			</h4>
			<a href='javascript:;' class='close' title='关闭' ng-click='StockService.display = null'>&times;</a>
		</div>
		<div class='dialog-body'>
			<div class='level5 text-center' ng-show='StockService.display == "level5"'>
				<table>
					<caption>五档竞价</caption>
					<tr>
						<td>卖五</td>
						<td ng-bind='StockService.selectedSnapshot.s5Price' class='{{StockService.selectColor(StockService.selectedSnapshot.s5Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.s5Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.s5Price * StockService.selectedSnapshot.s5Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>卖四</td>
						<td ng-bind='StockService.selectedSnapshot.s4Price' class='{{StockService.selectColor(StockService.selectedSnapshot.s4Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.s4Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.s4Price * StockService.selectedSnapshot.s4Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>卖三</td>
						<td ng-bind='StockService.selectedSnapshot.s3Price' class='{{StockService.selectColor(StockService.selectedSnapshot.s3Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.s3Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.s3Price * StockService.selectedSnapshot.s3Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>卖二</td>
						<td ng-bind='StockService.selectedSnapshot.s2Price' class='{{StockService.selectColor(StockService.selectedSnapshot.s2Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.s2Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.s2Price * StockService.selectedSnapshot.s2Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>卖一</td>
						<td ng-bind='StockService.selectedSnapshot.s1Price' class='{{StockService.selectColor(StockService.selectedSnapshot.s1Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.s1Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.s1Price * StockService.selectedSnapshot.s1Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr class='current-price'>
						<td>当前</td>
						<td ng-bind='StockService.selectedSnapshot.price' class='{{StockService.selectColor(StockService.selectedSnapshot.price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td></td>
					</tr>
					<tr>
						<td>买一</td>
						<td ng-bind='StockService.selectedSnapshot.b1Price' class='{{StockService.selectColor(StockService.selectedSnapshot.b1Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.b1Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.b1Price * StockService.selectedSnapshot.b1Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>买二</td>
						<td ng-bind='StockService.selectedSnapshot.b2Price' class='{{StockService.selectColor(StockService.selectedSnapshot.b2Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.b2Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.b2Price * StockService.selectedSnapshot.b2Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>买三</td>
						<td ng-bind='StockService.selectedSnapshot.b3Price' class='{{StockService.selectColor(StockService.selectedSnapshot.b3Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.b3Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.b3Price * StockService.selectedSnapshot.b3Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>买四</td>
						<td ng-bind='StockService.selectedSnapshot.b4Price' class='{{StockService.selectColor(StockService.selectedSnapshot.b4Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.b4Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.b4Price * StockService.selectedSnapshot.b4Vol / 10000) | number:1) + " 万"'></td>
					</tr>
					<tr>
						<td>买五</td>
						<td ng-bind='StockService.selectedSnapshot.b5Price' class='{{StockService.selectColor(StockService.selectedSnapshot.b5Price - StockService.selectedSnapshot.prevClose)}}'></td>
						<td ng-bind='((StockService.selectedSnapshot.b5Vol / 100) | number:0) + " 手"'></td>
						<td ng-bind='((StockService.selectedSnapshot.b5Price * StockService.selectedSnapshot.b5Vol / 10000) | number:1) + " 万"'></td>
					</tr>
				</table>
			</div>
			<img ng-src='{{minuteChart}}' ng-show='StockService.display == "minuteChart"'>
			<img ng-src='{{dailyChart}}' ng-show='StockService.display == "dailyChart"'>
			<img ng-src='{{weeklyChart}}' ng-show='StockService.display == "weeklyChart"'>
			<img ng-src='{{monthlyChart}}' ng-show='StockService.display == "monthlyChart"'>
		</div>
	</div>

	<div id='icon-button-container'>
		<ul id='icon-buttons' class='clearfix' ng-controller='ButtonListController'>
			<li>
				<a class='icon-google' href='javascript:;' title='Google 搜索' ng-click='showDialog("googleSearch")'></a>
			</li>
			<li>
				<a class='icon-bookmark' href='javascript:;' title='书签' ng-click='showDialog("bookmark")'></a>
			</li>
			<li>
				<a class='icon-todo' href='javascript:;' title='待办任务' ng-click='showDialog("todo")'></a>
			</li>
			<li>
				<a class='icon-pomorodo' href='javascript:;' title='番茄工作' ng-click='showDialog("pomorodo")'></a>
			</li>
			<li>
				<a class='icon-rss' href='javascript:;' title='新闻RSS' ng-click='showDialog("news")'></a>
			</li>
			<li>
				<a class='icon-stock' href='javascript:;' title='证券行情' ng-click='showDialog("stock")'></a>
			</li>
			<li>
				<a class='icon-export' href='javascript:;' title='导出工作空间数据' ng-click='exportWorkspace()'></a>
			</li>
			<li>
				<a class='icon-import fileSelector' href='javascript:;' title='导入工作空间数据'>
					<file read-as='text' handler='importWorkspace'>
				</a>
			</li>
		</ul>
	</div>

	<script src='js/lib/require.min.js' data-main='js/app.js'></script>
</body>
</html>
